<div class="mb-3 mx-3">
  <h2><%= @idea.title %></h2>
  <p><%= @idea.description %></p>
  <p>By <%= @idea.user&.first_name || "[Deleted]" %></p>
<div class= "mb-3">
  <small>
    Created <%= time_ago_in_words(@idea.created_at) %> ago
  </small>
  <br>
  <small>
   Last edited <%= time_ago_in_words(@idea.updated_at) %> ago
   </small>
</div>

<div class= "mb-3">

<%if user_signed_in?%>

<div>
   <% if can?(:edit, @idea) %>
    <small>
        <%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-outline-primary btn-sm" %>
    </small>
    <% end %>
    
  <% if can?(:delete, @idea) %>
      <%= link_to(
        "Delete",
        idea_path(@idea),
        method: :delete,
        data: {
          confirm: "Are you sure you want to delete this idea?"
        }, 
        class: "btn btn-outline-primary btn-sm")  
      %>
    <% end %>
  </div>
  <% end %>
</div>
<h4> Reviews </h4>
  
  <%= form_for [@idea, @review] do |f| %>
    <% if @review.errors.present? %>
      <p> <%= @review.errors.full_messages.join(', ') %> </p>
    <% end %>
    <div>
      <%= f.text_area(
       :description,
       cols: 30,
       rows: 3,
       placeholder: "Please give your reviews?"
       ) %>
    </div>
    <br>
       <%= f.submit "Submit",  class: "btn btn-outline-primary" %>
  <% end %>
  <br>  
  <% @reviews.each do |review| %>
    <div>
      <div> <%= review.description %> </div>
      <span> <%= review.user&.first_name || "[DELETED]" %></span>
      <div class="small font">
        <% if user_signed_in? && can?(:delete, review) %>
        <%= link_to(
          "Delete",
          idea_review_path(@idea,review),
          method: :delete, 
          data: { 
            confirm: 'Are you sure u want to delete the review?' 
            } 
            )%>
            <% end %>
            <br>
            <small>
               Reviewed <%= time_ago_in_words(review.created_at) %> ago
            </small>
      </div>
    </div>
  <% end %>
</div>

